<div class="bg-blue-500 p-4 flex flex-col sm:flex-row justify-between items-center">
    <!-- Logo -->
    <div class="text-xl font-bold text-gray-800 mb-4 sm:mb-0">
        <%= image_tag("logo_ITT.png", alt: "Logo", class: "w-10 h-10") %>
    </div>

    <!-- Barra de navegación -->
    <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2">
        <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2">
            <% if user_signed_in? && current_user.role_id == 2 %>
                <!-- Botones para usuarios con role_id igual a 1 -->
                <div class="p-2 group transition hover:bg-gray-800 rounded-md">
                    <%= link_to "Departamentos", departamentos_path, class: "text-white hover:text-gray-300" %>
                </div>
                <div class="p-2 group transition hover:bg-gray-800 rounded-md">
                    <%= link_to "Usuarios", areas_path, class: "text-white hover:text-gray-300" %>
                </div>
                <div class="p-2 group transition hover:bg-gray-800 rounded-md">
                    <%= link_to "Info", areas_path, class: "text-white hover:text-gray-300" %>
                </div>
            <% end %>
        </div>
        <% if user_signed_in? && current_user.role_id == 3 %>
            <div class="p-2 group transition hover:bg-gray-800 rounded-md">
                <%= link_to "Asignación", asignacions_path, class: "text-white hover:text-gray-300" %>
            </div>
        <% end %>
        <% if user_signed_in? && current_user.role_id == 4 %>
            <div class="p-2 group transition hover:bg-gray-800 rounded-md">
                <%= link_to "Formulario", formularios_path, class: "text-white hover:text-gray-300" %>
            </div>
        <% end %>
    </div>

    <!-- Iconos de la derecha -->
    <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2 mt-4 sm:mt-0">
        <div class="p-2 group transition hover:bg-gray-800 rounded-md">
            <% if user_signed_in? %>
                <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "text-white hover:text-gray-300" %>
            <% end %>
        </div>
    </div>
</div>
